<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post_Add</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/stijl.css">
    </head>
    <body>
      <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
      <section>
          <div class="container">
            <div class="heading_container">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form_container">
                  <h3> Add post </h3>
                  <form action="#"
                      th:action="@{/posts/add}"
                      th:object="${post}"
                      method="post">
                    <div class="form-group">
                      <input type="hidden" id="account" name="account" th:field="*{account}"/>
                      <input id="title" th:field="*{title}" name="title" type="text" class="form-control" placeholder="title" />
                    </div>
                    <div class="form-group">
                      <textarea id="editor" th:field="*{body}" name="body"></textarea>
                    </div>
                      <button type="submit"  class="btn btn-primary">
                        Add post
                      </button>
                  </form>
                </div>
              </div>
          </div>
        </section>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </body>
</html>